@model IEnumerable<AnReshWebApp.Models.Department>

@{
    ViewBag.Title = "DepartmentForm";
    Layout = "~/Views/Home/_WorkWithData.cshtml";
}

<h2>Отделы</h2>


<table class="table">
    <tr>
        <th>
            Отдел:
        </th>
        <th>
            Операции:
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditPage", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}
<tr>
    <td>
       @Html.ActionLink("Добавить", "CreationPage")
    </td>
    <td></td>
</tr>
</table>
