 
<connectionStrings>
      <add name="MSSQLConnection" 
           connectionString="Server=localhost;Database=AnReshProbation;Integrated Security=true;"
           providerName="System.Data.SqlClient"/>
      <add name="MySQLConnection"
           connectionString="Server=localhost;Database=AnReshProbation;Uid=root;Password=1111;"
           providerName="MySql.Data.MySqlClient"/>
 </connectionStrings>
