@using AnReshWebApp.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form method="post" action="~/Home/Index" >
        <h1>Стажировка в Аналитических Решениях</h1>
        <input class="lead" type="text" name="newDescription" value="@ViewData["Description"]" /><br />
        <button class="btn btn-primary btn-lg" type="submit" name="readWriteButton" value=readButton>Обновить из файла</button>
        <button class="btn btn-primary btn-lg" type="submit" name="readWriteButton" value=writeButton>Записать в файл</button>
    </form>

</div>
